<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+KR&display=swap" rel="stylesheet">
<div class="navbar" style="font-family: 'Noto Serif KR', serif; text-align:center;">
        <a class="nav-item nav-link" href="{% url 'home' %}">Home</span></a>
        
        <a class="nav-item nav-link" href="#">수료증</a>
        <a class="nav-item nav-link" href="{% url 'portfolio' %}">포트폴리오</a> <br>
         <!-- if문을 이용해 조건을 충족했을 때 나오는 모양이 달라지게 하기-->
        {% if user.is_authenticated %}
         <!-- 로그인이 되어있는지 물어보기-->
                안녕, {{ user.username }} 님! <br>
                <a class="nav-item nav-link" href="{% url 'new' %}">글쓰기</a>
                <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}<input type="hidden"/>
                </form>
                 <!-- 로그아웃 버튼을 누르면 POST방식으로, csrf_token도 같이 전송, form 태그를 통해 전송-->
        {% else %}
        <a class="nav-item nav-link" href="{% url 'signup' %}">회원가입</a>
        <a class="nav-item nav-link" href="{% url 'login' %}">로그인</a>
        {% endif %}

 <!-- 이 아래에 콘텐츠가 올 예정입니다 선언-->
 {% block contents %}
 <!--title 이라면 block title/ footer이면 block footer로 작성 -->
<!-- 여기에 겹치지 않는 콘텐츠가 위치함 -->
 {% endblock %}
